body,
html {
  background-color: rgba(231, 228, 228, 0.952);
  margin: 0;
  padding: 0;
  --sb-track-color: #232E33;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 14px;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 4rem;
  line-height: 20rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  /* background-color: #f5f5f5; */
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 5rem;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 10px;
}

.nav-links a {
  font-family: "Nunito", sans-serif;
  color: rgb(0, 8, 10);
  box-shadow: rgba(3, 214, 179, 0.3) 0px 10px 10px 3px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
  font-size: 20px;
}

.nav-links a:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

header a {
  text-decoration: none;
  font-size: 5rem;
  color: #ffffff;
  line-height: 2;
}

.header {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  text-align: center;
  padding: 0;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(15, 15, 15, 0.849);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}