body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  --sb-track-color: #232E33;
  --sb-thumb-color: #6BAF8D;
  --sb-size: 14px;
}

h1 {
  font-size: 40px;
}

ul li {
  list-style: none;
  font-size: 18px;
  border-bottom: 3px solid rgb(27, 138, 158);
  width: 500px;
}

ol li {
  font-size: 18px;
  width: 500px;
  padding: 20px;
}

p {
  font-size: 18px;
}

header a {
  text-decoration: none;
  font-size: 5rem;
  color: #ffffff;
  line-height: 2;
}

.header {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  text-align: center;
  padding: 0;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(15, 15, 15, 0.849);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}