header a {
  text-decoration: none;
  font-size: 5rem;
  color: #ffffff;
  line-height: 2;
}

.header {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  text-align: center;
  padding: 0;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(15, 15, 15, 0.849);
}